body
{
	margin: 0px;
	background-image: url(images/page-bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: silver;
   font-style: bold;
}

.top-block
{
    background-color: white;
    height: 35px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: solid 1px #bebebe;
}

header
{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

header h1
{
	color: #c8c8c8;
	font-family: Helvetica, Myriad Pro, Arial;
	font-size: 24px;
	font-weight: normal;
}

.content
{
	width: 980px;
	margin-right: auto;
	margin-left: auto;	
}

.content .optionnal-image-box, .content .optionnal-image-box img
{
	width: 270px;
}

.content .optionnal-image-box
{
	float: left;
	width: 270px;
	min-height: 10px;
	display: block;
}

.content .text
{
	float: left;
	margin-left: 20px;
	width: 390px;
	font-family: Helvetica, Myriad Pro, Arial;
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
}

.content .text p
{
	margin-bottom: 20px;
}

footer
{
	width: 980px;
    margin-top: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
}   

footer .logo
{
    float: left;
    margin-right: 515px;
}

footer .right a {
    margin-left: 33px;
    margin-top: 71px;
    display: block;
    float: right;
}