body
{
    margin: 0px;
}



h1
{
    font-family: Gill Sans, Verdana;
	color: black;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: bold;
	margin: 10px;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: silver;
   font-style: normal;
}



.imageflottante
{
    float: right;
}


nav1
{
    position: absolute;
    right: 63px;
    bottom: 10px;
}


nav1b
{
    position: absolute;
    left: 23px;
    bottom: 10px;
}



nav2
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}


nav3
{
    position: absolute;
    right: 127px;
    bottom: 10px;
}

div.lantern /*lantern */
{
    position: absolute;
    left: 755px;
    top: 63px;
}

[data-tip1] { /* lantern */
    position: relative;
    cursor: crosshair;
    border-bottom: 0px dotted #aaa;
}
[data-tip1]:hover:after {
    content: attr(data-tip1); /* lantern */
    position: absolute;
    top: 1em; left: 0;
    white-space: nowrap; /* no wrapping */
    padding: 5px 10px;
    font-family: helvetica, gill sans;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    color: grey;
}


div.laniere /* cityzen */
{
    left: 649px;
    top: 281px;
}

[data-tip2] { /* cityzen */
    position: relative;
    cursor: crosshair;
    border-bottom: 0px dotted #aaa;
}


[data-tip2]:hover:after {
    content: attr(data-tip2); /* cityzen */
    position: absolute;
    top: 1em; right: 0;
    white-space: nowrap; /* no wrapping */
    padding: 5px 10px;
    font-family: helvetica, gill sans;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    color: grey;
    z-index: 10;
}




div.incremental /* Incremental */
{
    left: 373px;
    top: 143px;
}


[data-tip3] { /* incremental */
    position: relative;
    cursor: crosshair;
    border-bottom: 0px dotted #aaa;
}

[data-tip3]:hover:after {
    content: attr(data-tip3); /* incremental */
    position: absolute;
    top: 1em; left: 0;
    white-space: nowrap; /* no wrapping */
    padding: 5px 10px;
    font-family: helvetica, gill sans;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    color: grey;
}


div.construction
{
    top: 505px;
    left: 451px;
}


[data-tip4] { /* canevas */
    position: relative;
    cursor: crosshair;
    border-bottom: 0px dotted #aaa;
}

[data-tip4]:hover:after {
    content: attr(data-tip4); /* canevas */
    position: absolute;
    top: 1em; left: 0;
    white-space: nowrap; /* no wrapping */
    padding: 5px 10px;
    font-family: helvetica, gill sans;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    color: grey;
}



div.minimaousse /* cuisine en ville */
{
    position: absolute;
    left: 245px;
    top: 361px;
}


[data-tip5] { /* cuisine en ville */
    position: relative;
    cursor: crosshair;
    border-bottom: 0px dotted #aaa;
}

[data-tip5]:hover:after {
    content: attr(data-tip5); /* cuisine en ville */
    position: absolute;
    top: 1em; left: 0;
    white-space: nowrap; /* no wrapping */
    padding: 5px 10px;
    font-family: helvetica, gill sans;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    color: grey;
}


div.lantern2
{
    left: 709px;
    top: 403px;
}


[data-tip6] { /* 24h chrono */
    position: relative;
    cursor: crosshair;
    border-bottom: 0px dotted #aaa;
}

[data-tip6]:hover:after {
    content: attr(data-tip6); /* 24h chrono */
    position: absolute;
    top: 1em; right: 0;
    white-space: nowrap; /* no wrapping */
    padding: 5px 10px;
    font-family: helvetica, gill sans;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    color: grey;
}



div.alice /* 24h chrono */
{
    left: 484px;
    top: 338px;

}


[data-tip6] { /* 24h chrono */
    position: relative;
    cursor: crosshair;
    border-bottom: 0px dotted #aaa;
}

[data-tip6]:hover:after {
    content: attr(data-tip6); /* 24h chrono */
    position: absolute;
    top: 1em; right: 0;
    white-space: nowrap; /* no wrapping */
    padding: 5px 10px;
    font-family: helvetica, gill sans;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    color: grey;
}

/* ---------------------------------------------------------------------------------- */
/* CESAR */

.carte
{
    width: 980px;
    position: relative;
    height: 620px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-image: url("images/teste_sommaire-01.png") ;
    background-repeat: no-repeat;
    background-position: 0 0;

}

.sommaire-nav
{
    position: absolute;
}

.front-menu {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica, Myriad Pro, Arial;
    font-size: 16px;
    color: black;
    line-height: 8px;
    letter-spacing: 0px;
    font-weight: 200;
    width: 980px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.front-menu a {
    margin-right: 140px;
    float: left;
    display: block;
}

.front-menu a.last
{
    margin-right: 0px!important;
}

.top-block
{
    background-color: white;
    height: 35px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: solid 1px #bebebe;
}

.front-footer
{
   width: 980px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}   

.front-footer .front-logo
{
    float: left;
    margin-right: 515px;
}

.front-footer .right a {
    margin-left: 33px;
    margin-top: 71px;
    display: block;
    float: right;
}