
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

@import url(http://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,300,600,800,500,200);


header
{
    font-family: 'Poiret One', cursive;
	color: silver;
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 834px;
	
	
}

a
{
    
	font-family: 'Oxygen', sans-serif;	
	font-size: 14px;
	color: #A0A0A0;
	text-transform: capitalize;
	text-decoration: overline;
	
}


h1
{
    /*font-family: Gill Sans, Verdana;*/
    font-family: 'Oxygen', sans-serif;
	color: silver;
	font-size: 18px;
	line-height: 24px;
		letter-spacing: 0px;
	font-weight: lighter;
	margin-left: auto;
	margin-right: auto;
	width: 834px;	
}

h2
{
    /*font-family: Gill Sans, Verdana;*/
    font-family: 'Oxygen', sans-serif;
	color: silver;
	font-size: 16px;
	line-height: 24px;
		letter-spacing: 0px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 834px;		
}

p
{
    font-family: 'Oxygen', sans-serif;	
	font-size: 14px;
	color: #000;
	line-height: 17px;
	text-transform: none;
	font-weight: normal;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 834px;
	border: 1px solid white;
	word-wrap: break-word;
	margin-bottom: 30px;
}

nav1
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    position: fixed;
}
